{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />


{% block header %}
	{% block title %}
		<title> Личный сайт </title>
		<h1>Анна Егорова</h1>
	{% endblock %}
	{% block menu %}
		<div class = "header" role = "navigation">
	    <a title="Пока пусто" href="coding.html">Программирование</a> 
	    <a title="Пока пусто" href="testbase.html">Система тестирования</a>     
    	<a title="Разное" href="enfant.html">Детская площадка</a> 
    	<a title="Просто так" href="answer.html">Упражнения</a> 
    	<a title="Главная (Home page)" href="index.html">Домой (на главную)</a> <br>
    </div>
    {% endblock %}
{% endblock %}

{% block page %}
	{% block content %}
	{% endblock %}
{% endblock %}

{% block footer %}
	{% block copyright %}

		<div class = "footer">
 		Дата и время загрузки страницы: {% now "N j, Y, P" %} <br>
 		Сделала <a href="//vk.com/anna_egorova"></a>Анна Егорова
 
				<div onmouseover="mOver(this)"
			 	onmouseout="mOut(this)" align = "right"
				style="height:10px; color:#696969">o*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*o</div>

		</div>


		<script>
		function mOver(obj)
		{
		obj.innerHTML="0-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-0"
		}

		function mOut(obj)
		{
		obj.innerHTML="o*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*o"
		}
		</script>


	{% endblock %}
	 	<a title="Home page" href="index.html">Домой (на главную)</a>
{% endblock %}


