{% extends 'base.html'%}

<script src="scripts/jtablesite.js" type="text/javascript" language="javascript"></script>

{% block content %}


Впечатление спокойного туриста <br>
Уклад жизни сначала пугает своей внешней тишиной и правильностью, затем перезагружает сознание, возвращая его в Советский Союз. 
После нескольких кварталов мысль "парадные улицы для туристов" была отброшена. Если ради туристов построено и налажено несколько городов - почему бы и нет. Если людям искуственно внушают, что они счастливы... это для меня уже слишком сложно.
Малое ночное освещение улиц? Да, сначала шокирует, затем успокаивает по отношению к природе. Ночью люди просто спят. 

Школьные каникулы не 



{% endblock %}