{% extends 'base.html'%}

{% block content %}
    <h1>"Программирование в средах си" </h1> 
    <h2>Проект календарного плана на 2018-19 учебный год</h2>
0.09 Родительское собрание, общие вопросы, заполнение договоров <br>
3.09 Введение в ОС, компилятор, аппаратура, цели курса и профессии 
<br>
4.09 HelloWorld по подробной инструкции (S=vt, cin/cout), HelloWorld с классами (Speed.EnterData, Speed.count или ..). Ведение репозитория и другие способы хранения проектов (флешка, почта)<br>
10.09 C++ c нуля: лексемы, структура программы, базовые типы и преобразования, указатели :), выражения (в т. ч. ?:), инкремент/декремент. Ввод вывод - не часть языка<br>
11.09 if-else все способы записи, вложенность, задачи (пройдёт ли шкаф в дверь, в т.ч. по диагонали(?) - если получится, уже с классами)<br>
17.09 for-while (вычисление рядов)<br>
18.09 switch (согласование в падеже)<br>
24.09 opengl 1.0: основы 2d (glOrtho(), GL_LINE, GL_POLYGON, glVertex3f(), glColor3f()), минимальное приложение glut (фигурка и текст)<br>
25.09 Функции: main return, прототип, перегрузка, auto, register, inline, static (двигаем прямоугольник)<br>
1.10 Указатели, одномерные массивы. new/delete, malloc/free, передача массива функции. Стек, дек, поиск (текст?)<br>
2.10 Сортировка, поиск с графической визуализацией<br>
8.10 Многомерные массивы. Игровое поле. Лабиринт (лучше с чтением из файла)<br>
9.10 Сапёр, тетрис, змейка, крестики-нолики: как писать (с классами и без)<br>
15.10 Другие прикладные задачи: синтаксические разбор, регулярные выражения, работа с изображениями<br>
16.10 Индивидуальные проекты, выбор темы (по умолчанию - лабиринт из почти готового шаблона<br>
22.10 Обсуждение вопросов индивидуальной работы по итогам предыдущего занятия (теория), обмен опытом. Общие репозитории функций, библиотек? Работа с индивидуальными проектами<br>

23.10
29.10
30.10
6.11
12.11
13.11
19.11
20.11
26.11
27.11
3.12
4.12
10.12
11.12
17.12
18.12
24.12
25.12

14.01
15.01
21.01
22.01
28.01
29.01
4.02
5.02
11.02
12.02
18.02
19.02
26.02
4.03
5.03
11.03
12.03
18.03
19.03
25.03
26.03
1.04
2.04
8.04
9.04
15.04
16.04
22.04
23.04
29.04
30.04
6.05
7.05
13.05
14.05
20.05
21.05






        <h2>Проект заголовка H2</h2> 
        <p>Текст абзаца...</p>
{% endblock %}