{% extends 'base.html'%}

<script src="scripts/jtablesite.js" type="text/javascript" language="javascript"></script>

{% block content %}
    <h1>Детская площадка</h1> 
        <h2>Изображения можно напечатать для раскрашивания (здесь пробные картинки, окончательный контент не готов)</h2> 
        <p>Текст абзаца...</p>
        <img src = "static/media/inkscape.png" width = 200 alt = "there must be an image">

       <h2>Это иллюстрации процесса работы (тоже пробные картинки)</h2> 
        <p>Inkscape, Eclipse...</p>
        <img src = "static/media/inkscape.png" width = 200 alt = "there must be an image">        
        <img src = "static/media/snowflake.png" width = 200 alt = "there must be an image">        
{% endblock %}