{% extends 'base.html'%}

{% block content %}

<br>
{% for item in person %}
        {{item.surname}}
        {{item.name}}
        {{item.age}}
        {{item.result}}
        <br>
{% endfor %}


{% for item in questionSet %}
        {{item.id}}
        {{item.question}}
        {{item.nAnswers}}
        {{item.answer1}}
        {{item.answer2}}
        {{item.answer3}}
        {{item.rightAnswer}}
        {{item.ageMin}}
        {{item.ageMax}}
        {{item.choice}}
        <br>
{% endfor %}


<h1>{{person.title}}</h1>


{% endblock %}